@model IEnumerable<TestForEventRegister.tCargo>

@{
    ViewBag.Title = "Cargo_B";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<link href="~/css/cargo_signature.css" rel="stylesheet" />
<style>
    .mb-4 {
        margin-bottom: 15px;
    }
</style>
<link href="~/style/cargo_signature.css" rel="stylesheet" />
<h2>郵務管理</h2>

<div class="modal fade " id="signaturebox" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="position:initial">
        @*modal-dialog*@
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">收件者簽名</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="signaturearea">
                    <canvas id="canvas_signature" width="760" height="450"></canvas>
                    <br />
                    <input type="button" value="清除" id="clearSignature" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnclose" data-dismiss="modal">關閉</button>

                <button type="button" id="saveSignature" class="btn btn-primary">儲存</button>
            </div>
        </div>
    </div>
</div>

<p>
    <i class="fa fa-plus"></i> @Html.ActionLink("新增", "Create")
</p>



<table class="table">
    <tr>
        <th>
            NO.
        </th>
        <th>
            貨運公司
        </th>
        <th>
            寄件人
        </th>
        <th>
            收件人戶號
        </th>
        <th>
            收件人姓名
        </th>
        <th>
            種類
        </th>
        <th>
            收件日期
        </th>
        <th>
            簽收狀態
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fCargoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fShipCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fSender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fCargoType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fArriveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fReceiveOrNot)
            </td>

            <td>
                @Html.ActionLink("簽收", "gosign", new { id = item.fCargoId })
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signaturebox">
                    簽收
                </button>
                <div>
                    <img id="@ViewBag.imgid" />
                </div>｜
                @Html.ActionLink("編輯", "Edit", new { id = item.fCargoId })
            </td>
        </tr>

    }

</table>


<!-- Modal -->



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

