@model TestForEventRegister.tEvent

@{
    ViewBag.Title = "Create";
}

<style>
    *{
        font-family:微軟正黑體;
    }
</style>
<h2>新增活動</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" hidden>
        <div class="control-label col-md-2">活動編號</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fEventId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fEventId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" hidden>
        <div class="control-label col-md-2">戶號</div>
        <div class="col-md-10">           
            @Html.EditorFor(model => model.fUserId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fUserId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">活動名稱</div>
        <div class="col-md-10">
            <input type="text" class="form-control" name="fEventTitle" required/>
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">分類</div>
        <div class="col-md-10">
            <select name="fCategory" class = "form-control">
                <option value="1">運動</option>
                <option value="2">課程</option>
                <option value="3">團購</option>
                <option value="4">聚會</option>
                <option value="5">招募</option>
                <option value="6">其他</option>
            </select>
           
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">活動開始日</div>
        <div class="col-md-10">
            <input type="date" name="fEventFromDay" class = "form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">活動開始時間</div>
        <div class="col-md-10">
            <input type="time" name="fEventFromTime" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">活動結束日</div>
        <div class="col-md-10">
            <input type="date" name="fEventEndDate" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">活動結束時間</div>
        <div class="col-md-10">
            <input type="time" name="fEventEndTime" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">圖片路徑</div>
        <div class="col-md-10">
            <input type="file" name="fEventImgPath" >
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">活動地點</div>
        <div class="col-md-10">
            <input type="text" class="form-control" name="fEventLocation" required />
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">活動敘述</div>
        <div class="col-md-10">
            <textarea class="form-control" name="fEventDescription" required ></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">是否需付費</div>
        <div class="col-md-10">
            <div>
                 <input type="radio" name="fEventFeeOrFree" value="Fee">付費             
                 <input type="radio" name="fEventFeeOrFree" value="Free">免費
            
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">費用</div>
        <div class="col-md-10">
            <input class="form-control" onkeyup="value=value.replace(/[^\d]/g,'') "
                   　　onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"
                   　　name="fEventFee">
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">報名起始日</div>
        <div class="col-md-10">
            <input type="time" name="fEventFromDay_R" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">報名起始時間</div>
        <div class="col-md-10">
            <input type="date" name="fEventFromTime_R" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">報名截止日</div>
        <div class="col-md-10">
            <input type="time" name="fEventEndDate_R" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">報名截止時間</div>
        <div class="col-md-10">
            <input type="date" name="fEventEndTime_R" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">備註</div>
        <div class="col-md-10">
            <input type="text" class="form-control" name="fRemark" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 ">
            <input type="submit" value="下一步" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("取消", "Event_B")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
