@model TestForEventRegister.tEventSet

@{
    ViewBag.Title = "Create";
}

<style>
    * {
        font-family: 微軟正黑體;
    }

    .formitem {
        margin-bottom: 5px;
        margin-left: 30px;
        padding: 5px;
        border: 1px solid gray;
        border-radius: 3px;
        max-width: 130px;
        background-color: gainsboro;
    }

    .mt5 {
        margin-top: 15px;
    }

    .edittxt {
        color: blue;
        font-size: 0.8rem;
    }

        .edittxt:hover {
            color: darkblue;
            cursor: pointer;
        }

    .btndelete:hover {
        cursor: pointer;
    }
</style>
<h2>新增活動</h2>


@using (Html.BeginForm("Create", "BackEvent2", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <h3>STEP1: 設定活動資訊</h3>
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" hidden>
            <div class="control-label col-md-2">活動編號</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fEventId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fEventId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" hidden>
            <div class="control-label col-md-2">戶號</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fUserId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fUserId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">活動名稱</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="fEventTitle" required />
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">分類</div>
            <div class="col-md-10">
                <select name="fCategory" class="form-control">
                    <option value="1">運動</option>
                    <option value="2">課程</option>
                    <option value="3">團購</option>
                    <option value="4">聚會</option>
                    <option value="5">招募</option>
                    <option value="6">其他</option>
                </select>

            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">活動開始日</div>
            <div class="col-md-10">
                <input type="date" name="fEventFromDay" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">活動開始時間</div>
            <div class="col-md-10">
                <input type="time" name="fEventFromTime" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">活動結束日</div>
            <div class="col-md-10">
                <input type="date" name="fEventEndDate" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">活動結束時間</div>
            <div class="col-md-10">
                <input type="time" name="fEventEndTime" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">圖片路徑</div>
            <div class="col-md-10">
                <input type="file" name="fImage">
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">活動地點</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="fEventLocation" required />
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">活動敘述</div>
            <div class="col-md-10">
                <textarea class="form-control" name="fEventDescription" required></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">是否為付費活動</div>
            <div class="col-md-10">
                <select name="fEventFeeOrFree" class="form-control">
                    <option value="0">免費</option>
                    <option value="1">付費</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">費用</div>
            <div class="col-md-10">
                <input class="form-control" onkeyup="value=value.replace(/[^\d]/g,'') "
                       　　onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"
                       　　name="fEventFee">
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">報名起始日</div>
            <div class="col-md-10">
                <input type="date" name="fEventFromDay_R" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">報名起始時間</div>
            <div class="col-md-10">
                <input type="time" name="fEventFromTime_R" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">報名截止日</div>
            <div class="col-md-10">
                <input type="date" name="fEventEndDate_R" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">報名截止時間</div>
            <div class="col-md-10">
                <input type="time" name="fEventEndTime_R" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">備註</div>
            <div class="col-md-10">
                <input type="text" class="form-control" name="fRemark" />
            </div>
        </div>

        <hr />
        <h3>STEP2: 設定報名資訊</h3>
        <br />
        <div class="row">

            <div class="col-lg-7 form-horizontal zone">
                <h4><b>-活動報名表-</b></h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    <div class="control-label col-md-2"><span class="text-danger">*</span>戶號</div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" />
                        <input type="hidden" name="ferUserId" value="1" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2"><span class="text-danger">*</span>參加人數</div>
                    <div class="col-md-10">
                        <input type="text" name="1" class="form-control" />
                        <input type="hidden" name="fnumAttendPeople" value="1" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2"><span class="text-danger">*</span>姓名</div>
                    <div class="col-md-10">
                        <input type="text" name="1" class="form-control" />
                        <input type="hidden" name="ferName" value="1" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2"><span class="text-danger">*</span>連絡電話</div>
                    <div class="col-md-10">
                        <input type="text" name="1" class="form-control" />
                        <input style="display: inline-block; " type="hidden" name="ferPhone" value="1" class="form-control" />

                    </div>

                </div>


                <div class="form-group" id="email" style="display:none">
                    <div class="control-label col-md-2"> <span class="text-danger btndelete" id="emaildelete"> <b> X </b></span> 電子郵件</div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" />
                        <input type="hidden" name="ferEmail" id="email_v" value="0" />
                    </div>

                </div>

                <div class="form-group" id="gender" style="display:none">
                    <div class="control-label col-md-2"> <span class="text-danger btndelete" id="genderdelete"> <b> X </b></span> 性別</div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" />
                        <input type="hidden" name="ferGender" id="gender_v" value="0" />
                    </div>
                </div>

                <div class="form-group" id="birthday" style="display:none">
                    <div class="control-label col-md-2"><span class="text-danger btndelete" id="birthdaydelete"> <b> X </b></span>  出生年月日</div>
                    <div class="col-md-10">
                        <input type="date" class="form-control" />
                        <input type="hidden" name="ferBirthday" id="birthday_v" value="0" />
                    </div>
                </div>

                <div class="form-group" id="idnumber" style="display:none">
                    <div class="control-label col-md-2"><span class="text-danger btndelete" id="idnumberdelete"> <b> X </b></span> 身份證字號</div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" />
                        <input type="hidden" name="ferIdentity" id="idnumber_v" value="0" />
                    </div>
                </div>

                <div class="form-group" id="occupation" style="display:none">
                    <div class="control-label col-md-2"> <span class="text-danger btndelete" id="occupationdelete"> <b> X </b></span> 職業</div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" />
                        <input type="hidden" name="ferOccupation" id="occupation_v" value="0" />
                    </div>
                </div>

                <div class="form-group" id="veganornot" style="display:none" value="0" name="veganornot_v">
                    <div class="control-label col-md-2"><span class="text-danger btndelete" id="veganornotdelete"> <b> X </b></span>  葷食/素食</div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" />
                        <input type="hidden" name="ferVeganOrNot" id="veganornot_v" value="0" />
                    </div>
                </div>

                <div class="form-group" id="other1" style="display:none">
                    <div class="control-label col-md-2">
                        <span class="text-danger btndelete" id="other1delete"> <b> X </b></span>
                        <label class="edittxt">編輯</label>
                        自訂欄位
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" />
                        <input type="hidden" name="ferOtherColumn1" id="other1_v" value="0" />
                    </div>
                </div>

                <div class="form-group" id="other2" style="display:none">
                    <div class="control-label col-md-2">
                        <span class="text-danger btndelete" id="other2delete"> <b> X </b></span>
                        <label class="edittxt">編輯</label>
                        自訂欄位
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" />
                        <input type="hidden" name="ferOtherColumn2" id="other2_v" value="0" />
                    </div>
                </div>

                <div class="form-group" id="other3" style="display:none">
                    <div class="control-label col-md-2">
                        <span class="text-danger btndelete" id="other3delete"> <b> X </b></span>
                        <label class="edittxt">編輯</label>
                        自訂欄位
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" />
                        <input type="hidden" name="ferOtherColumn3" id="other3_v" value="0" />
                    </div>
                </div>

                <div class="form-group" id="other4" style="display:none">
                    <div class="control-label col-md-2">
                        <span class="text-danger btndelete" id="other4delete"> <b> X </b></span>
                        <label class="edittxt">編輯</label>
                        自訂欄位
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" />
                        <input type="hidden" name="ferOtherColumn4" id="other4_v" value="0" />
                    </div>
                </div>

                <div class="form-group" id="other5" style="display:none">
                    <div class="control-label col-md-2">
                        <span class="text-danger btndelete" id="other5delete"> <b> X </b></span>
                        <label class="edittxt">編輯</label>
                        自訂欄位
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" />
                        <input type="hidden" name="ferOtherColumn5" id="other5_v" value="0" />
                    </div>
                </div>


            </div>

            <div class="col-lg-4 form-horizontal zone">

                <h4><b>-自訂欄位- </b><label class="text-danger" style="font-size:10px"> 拖曳下列您需要的選項至左側報名表內</label></h4>

                <div class="ml-1">
                    <div style="cursor:pointer" draggable="true" class="formitem " id="emailbtn"> <i class="fa fa-plus"></i> + 電子郵件</div>
                    <div style="cursor:pointer" draggable="true" class="formitem " id="genderbtn"> <i class="fa fa-plus"></i>+ 性別</div>
                    <div style="cursor:pointer" draggable="true" class="formitem " id="birthdaybtn"> <i class="fa fa-plus"></i>+ 出生年月日</div>
                    <div style="cursor:pointer" draggable="true" class="formitem " id="idnumberbtn"> <i class="fa fa-plus"></i>+ 身分證字號</div>
                    <div style="cursor:pointer" draggable="true" class="formitem " id="occupationbtn"> <i class="fa fa-plus"></i> + 職業</div>
                    <div style="cursor:pointer" draggable="true" class="formitem " id="veganornotbtn"> <i class="fa fa-plus"></i>+ 葷/素食</div>
                    <div style="cursor:pointer" draggable="true" class="formitem " id="otherbtn"> <i class="fa fa-plus"></i>+ 自訂</div>
                </div>


            </div>
        </div>
        <br />
        <br />
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 ">
                <input type="submit" value="確定新增" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("取消", "Event_B")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="~/js/setRegisForm2.js"></script>
